accelerate==0.23.0
aiolimiter==1.2.1
alignment_handbook==0.2.0
auditnlg==0.0.1
azure_storage==0.37.0
dill==0.3.7
fastchat==0.1.0
fire==0.7.0
GitPython==3.1.45
GPUtil==1.4.0
huggingface_hub==0.17.3
joblib==1.5.1
joypy==0.2.6
llama_recipes==0.0.5.post2
matplotlib==3.10.5
nltk==3.9.1
numpy==2.3.2
openai==1.99.6
OpenAttack==2.1.1
pandas==2.3.1
psutil==7.0.0
pytest==8.4.1
PyYAML==6.0.2
PyYAML==6.0.2
ray==2.48.0
scikit_learn==1.7.1
scipy==1.16.1
seaborn==0.13.2
setuptools==78.1.1
shortuuid==1.0.13
tensorboardx==2.6.4
tiktoken==0.11.0
torch==2.8.0
tqdm==4.67.1
transformers==4.35.0
trl==0.7.4
typing_extensions==4.14.1
